# COMMON
IP=
PUID=
PGID=
TIMEZONE=
DATA=
LOCAL_DOMAIN=
PUBLIC_DOMAIN=
EMAIL=

# PHOTOPRISM

PHOTOPRISM_PASSWORD=

# TIDAL CONNECT

TIDAL_PLAYBACK_DEVICE=sysdefault
TIDAL_PLAYER_NAME="raspberry"

# MATOMO

MYSQL_MATOMO_ROOT_PASSWORD=
MYSQL_MATOMO_USER=
MYSQL_MATOMO_PASSWORD=
MYSQL_MATOMO_DATABASE=

# GOTIFY

GOTIFY_PASSWORD=

# WATCH TOWER

WATCH_TOWER_GOTIFY_URL=http://pi
WATCH_TOWER_GOTIFY_TOKEN=

# BACKUP VARS

HOMECLOUD_PATH=
BACKUP_PATH=
BACKUP_NAS_PATH=

# SAMBA
SMB_PASSWORD_0=
